* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe5e5;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
   user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#move-random {
  position: absolute;
  padding: 12px 28px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #ff4d6d, #ff758f);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(255, 77, 109, 0.4);
  transition: all 0.2s ease;

  user-select: none;
  -webkit-user-select: none;
  z-index: 999;
}

#move-random:hover {
  transform: scale(1.08);
  box-shadow: 0 12px 25px rgba(255, 77, 109, 0.6);
}
#move-random::before {
  content: "😭 ";
}